<div class="alert alert-danger" *ngIf="mode==0">
  <strong>You are not authorized to add new Task</strong>
</div>
<div class="row col-md-6">

  <div class="panel panel-primary" *ngIf="mode === 1">
    <div class="panel-heading">New Task</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveTask(f.value)">
        <div class="form-group">
          <label class="control-label">Task Name: </label>
          <input class="form-control" type="text" name="taskName" ngModel="" required>
        </div>
        <button class="btn btn-danger" type="submit" [disabled]="!f.valid">Save</button>
      </form>
    </div>
  </div>

  <div class="panel panel-primary" *ngIf="mode === 2">
    <div class="panel-heading">New Task Added</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="form-group">
          <label class="control-label">ID:</label>
          <label class="control-label">{{task.id}}</label>
        </div>
        <div class="form-group">
          <label class="control-label">Task Name:</label>
          <label class="control-label">{{task.taskName}}</label>
        </div>
      </div>
      <button class="btn btn-primary" (click)="mode=1">New Task</button>
    </div>
  </div>

</div>
